target/
*.iml
.idea
.settings
.classpath
.project
.cache
.sbtserver
project/.sbtserver
project/boot/
project/target/
project/project/
project/plugins/project/
tags
nohup.out
out
.history
*.class
*.log
.cache
.DS_Store
app/*
dist/*
tmp/
README_cache/
lib_managed/